@media screen and (max-width: 1399px) {
  .xl_hide {
    display: none; }
  /* notification */
  .notification_header .search {
    margin-left: 24px; }
  /* pagehead */
  .pagehead {
    display: block; }
  .pagehead h2 {
    margin: 0 0 16px; }
  /* uploads_search */
  .uploads_search .nav {
    margin-bottom: 24px; }
  .uploads_search .search {
    margin-bottom: 0; }
  /* filter_wrapper */
  .filter_wrapper {
    display: block; }
  .filter_wrapper_col {
    margin: 0 0 24px; }
  .filter_wrapper .pagination {
    justify-content: flex-end; }
  /* tablehead */
  .tablehead_error {
    min-width: 240px;
    max-width: 240px; }
  /* small_filter */
  .small_filter_col:first-child {
    flex: 1; }
  .small_filter .search {
    margin: 0 24px 0 0;
    min-width: 0;
    max-width: none;
    flex: 1; } }

/* Medium */
@media screen and (max-width: 1199px) {
  .lg_hide {
    display: none; }
  /* steps_list */
  .steps_column {
    display: none; }
  /* notification */
  .notification_header {
    display: block; }
  .notification_header .nav {
    margin-bottom: 10px; }
  .notification_header .search {
    margin: 0; }
  /* tablehead */
  .tablehead-error {
    border-radius: 10px 10px 0 0; }
  .tablehead_error {
    display: none; }
  .tablehead_error_bottom {
    display: block; }
  /* stat_table */
  .stat_table_row {
    padding: 15px 0; }
  .stat_table_head_first {
    padding-left: 66px; }
  .stat_table_card img {
    margin: 0 16px 0 0; }
  .stat_table_head_last {
    display: none; }
  .stat_table_counts {
    padding-top: 20px; }
  .stat_table_counts .stat_table_small {
    display: block; }
  /* small_filter */
  .small_filter-top {
    flex-wrap: wrap; }
    .small_filter-top .nav {
      margin: 0 0 10px;
      flex: 0 0 100%;
      width: 100%; }
    .small_filter-top .nav-item {
      margin-bottom: 10px; }
  /* filter_wrapper */
  .filter_wrapper_col {
    display: block; } }

@media screen and (max-width: 998px) {
  body {
    padding-left: 0; }
  .navpanel {
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease;
    top: 0;
    width: 230px; }
  .navpanel_overlay {
    display: block; }
  html.navpanel_opened .navpanel,
  html.navpanel_opened .navpanel_overlay {
    opacity: 1;
    visibility: visible; }
  html.navpanel_opened .navpanel_close {
    display: block; }
  html.navpanel_opened .mainwrap_content, html.navpanel_opened .btn-chat-fixed, html.navpanel_opened .header {
    filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px); }
  .mainwrap_content {
    padding-top: 88px;
    padding-left: 16px;
    padding-right: 16px;
    height: auto;
    overflow: visible; }
  .header {
    padding-left: 6px;
    position: fixed;
    left: 0;
    width: 100%; }
  .header_icon_nav {
    display: block; }
  .wrapper:not(.wrapper-nobg) {
    padding: 16px; }
  /* .wrapper-single */
  .mainwrap_content .wrapper-single {
    border-radius: 10px; }
  .chartHeight {
    min-height: 300px; }
  /* history_funds_head */
  .history_funds {
    border-top: 1px solid #f5f5f5; }
  .history_funds_head {
    display: none; }
  .history_funds_row {
    padding-left: 0;
    padding-right: 0; } }

/* Tablet */
@media screen and (max-width: 767px) {
  .hide_mobile {
    display: none !important; }
  .show_mobile {
    display: block !important; }
  .mainwrap_content-pb {
    padding-bottom: 50px; }
  .header_icons_first {
    flex: 1; }
  .header_title {
    font-size: 20px;
    line-height: 23px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 260px;
    width: 100%; }
  .notification_table_head {
    display: none; }
  .notification_table_row [class*="col-"] {
    margin-bottom: 8px; }
    .notification_table_row [class*="col-"]:last-child {
      margin-bottom: 0; }
  .btn-chat-fixed {
    bottom: 54px;
    right: 16px; }
  .coverbox {
    max-width: 240px; }
  /* modal */
  .modal-dialog, .modal_large .modal-dialog {
    max-width: none;
    width: auto; }
  .modal-content {
    padding: 56px 24px 24px !important;
    font-size: 12px;
    line-height: 17px; }
  .modal-title {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 8px; }
  .modal-header {
    margin: 0 0 16px !important; }
  .modal .infobox_grid {
    margin-bottom: 16px; }
  .modal .infobox_grid:last-child {
    margin-bottom: 0; }
  .modal-content .loadbtn {
    margin-bottom: 16px; }
  .mobile_btns_modal {
    display: block; }
  .mobile_btns_modal .btn {
    display: block;
    width: 100%;
    margin: 0 0 10px; }
    .mobile_btns_modal .btn:last-child {
      margin: 0; }
  .mobile_btns_modal .btn-flex {
    display: flex; }
  /* auth_container */
  .auth_container {
    display: block;
    width: auto;
    height: auto;
    padding: 0 16px; }
    .auth_container .modal-content {
      max-width: none;
      padding: 32px; }
    .auth_container .modal-header {
      display: block;
      margin: 0 0 24px; }
    .auth_container .modal-title {
      font-size: 16px;
      line-height: 18px;
      margin: 0 0 16px; }
    .auth_container .modal-title:last-child {
      margin: 0; }
    .auth_container .modal-footer, .auth_container .modal-content {
      font-size: 12px;
      line-height: 17px; }
    .auth_container_logo {
      position: relative;
      left: auto;
      top: auto;
      width: auto;
      padding: 32px 0; }
  /* smallcard */
  .smallcard {
    font-size: 12px;
    line-height: 15px; }
    .smallcard_img {
      min-width: 90px;
      max-width: 90px;
      height: 100px; }
    .smallcard_entry {
      padding: 8px 16px; }
    .smallcard_text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  e
.loadbtn {
    min-height: 82px;
    font-size: 12px;
    line-height: 14px; }
  .loadbtn::before {
    width: 28px;
    height: 26px;
    margin-bottom: 9px; }
  .loadbtn-small {
    min-height: 0; }
  /* wrapper_head */
  .wrapper_head {
    display: block;
    margin: 0 0 24px; }
  .wrapper_head_title {
    font-size: 16px;
    line-height: 18px; }
  .wrapper_head .light_text {
    font-size: 12px;
    line-height: 17px; }
  .steps_fix_footer {
    display: flex; }
  /* addedfile */
  .addedfile_inner {
    height: auto;
    align-items: normal;
    padding: 0; }
  .addedfile_hide {
    display: none;
    padding: 16px; }
  .addedfile_content {
    display: block;
    padding: 12px 16px; }
  .addedfile_title {
    margin-bottom: 8px; }
  .addedfile_col {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .addedfile_drag {
    min-height: auto;
    height: auto;
    display: block; }
  /* progress */
  .progress {
    padding-bottom: 32px;
    justify-content: space-between; }
  .progress_line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
  .progress_count {
    text-align: right; }
  /* history_funds */
  .history_funds_name {
    display: inline; }
  /* filter_wrapper_col */
  .filter_wrapper_col {
    display: none;
    margin-bottom: 32px; }
  .filter_wrapper_title {
    display: none; }
  .filter_wrapper .form-control, .filter_wrapper .form-line {
    display: block; }
  .filter_wrapper .form-control {
    margin: 16px 0;
    background-color: #fff;
    border-radius: 8px;
    min-width: 0;
    max-width: none;
    width: 100%;
    height: 40px;
    padding: 4px 34px 4px 16px;
    background-position: calc(100% - 16px) center; }
  .filter_wrapper .pagination {
    justify-content: center; }
  /* small_filter */
  .small_filter {
    display: block; }
    .small_filter_col {
      display: block; }
    .small_filter_btns {
      display: flex; }
    .small_filter_view {
      margin: 0 0 16px; }
    .small_filter .search {
      margin: 0 0 16px;
      width: 100%; }
    .small_filter .btn-options, .small_filter .btn-download {
      width: 100% !important; }
  /* stat_table */
  .stat_table_row.first {
    display: none; }
  .stat_table_small {
    display: block; }
  .stat_table .col-6, .stat_table .col-12 {
    margin-bottom: 16px; }
    .stat_table .col-6:last-child, .stat_table .col-12:last-child {
      margin-bottom: 0; }
  .stat_table_counts {
    padding-top: 0; } }

/* Mobile */
