@media screen and (max-width: 1399px) {
  /* steps_list */
  .steps_list {
    display: flex; }
  .steps_list::before {
    width: auto;
    height: 1px;
    left: 11px;
    top: 17px;
    bottom: auto;
    right: calc(20% - 20px); }
  .steps_list_item {
    padding: 40px 0 0;
    margin: 0 20px 0 0;
    width: 100%; }
  .steps_list_item:last-child {
    margin: 0; }
  .steps_list_percent {
    display: none; }
  .notification_header {
    display: block; }
  .notification_header .nav {
    margin-bottom: 10px; }
  .notification_header .search {
    margin: 0; }
  /* pagehead */
  .pagehead {
    display: block; }
  .pagehead h2 {
    margin: 0 0 16px; } }

/* Medium */
@media screen and (max-width: 1020px) {
  body {
    padding-left: 0; }
  .navpanel {
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease;
    top: 0;
    width: 230px; }
  .navpanel_overlay {
    display: block; }
  html.navpanel_opened .navpanel,
  html.navpanel_opened .navpanel_overlay {
    opacity: 1;
    visibility: visible; }
  html.navpanel_opened .navpanel_close {
    display: block; }
  .mainwrap_content {
    padding: 88px 16px 0;
    height: auto;
    overflow: visible; }
  .header {
    padding-left: 6px;
    position: fixed;
    left: 0;
    width: 100%; }
  .header_icon_nav {
    display: block; }
  .wrapper:not(.wrapper-nobg) {
    padding: 16px; } }

/* Tablet */
@media screen and (max-width: 767px) {
  .hide_mobile {
    display: none !important; }
  .show_mobile {
    display: block !important; }
  .header_icons_first {
    flex: 1; }
  .header_title {
    font-size: 20px;
    line-height: 23px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 260px;
    width: 100%; }
  .notification_table_head {
    display: none; }
  .notification_table_row [class*="col-"] {
    margin-bottom: 8px; }
    .notification_table_row [class*="col-"]:last-child {
      margin-bottom: 0; }
  /* auth_container */
  .auth_container {
    display: block;
    width: auto;
    height: auto;
    padding: 0 16px; }
    .auth_container .modal-content {
      max-width: none;
      padding: 32px; }
    .auth_container .modal-header {
      display: block;
      margin: 0 0 24px; }
    .auth_container .modal-title {
      font-size: 16px;
      line-height: 18px;
      margin: 0 0 16px; }
    .auth_container .modal-title:last-child {
      margin: 0; }
    .auth_container .modal-footer, .auth_container .modal-content {
      font-size: 12px;
      line-height: 17px; }
    .auth_container_logo {
      position: relative;
      left: auto;
      top: auto;
      width: auto;
      padding: 32px 0; }
  /* smallcard */
  .smallcard {
    font-size: 12px;
    line-height: 15px; }
    .smallcard_img {
      min-width: 90px;
      max-width: 90px;
      height: 100px; }
    .smallcard_entry {
      padding: 8px 16px; }
    .smallcard_text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; } }

/* Mobile */
